{% extends 'master.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'all_graph.css' %}">
{% endblock %}


{% block title %} All Graphs {% endblock %}

{% block content %}
<div class="content">
    <h1>Graph Page</h1>
    <div class="graph-time">
        <a class="active" id="year" href="#" onclick="activateYear()">Year</a>
        <a id="month" href="#" onclick="activateMonth()">Month</a>
        <a id="week" href="#" onclick="activateWeek()">Week</a>
    </div>
    <div class="graph-category">
        <a href="#">City Sales</a>
        <!-- <img id="city-sales-image" src="city_sales_image.jpg" alt="City Sales Image"> -->
        <a href="#">Product Sales</a>
        <!-- <img id="product-sales-image" src="product_sales_image.jpg" alt="Product Sales Image"> -->
    </div>
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'graph.js' %}"></script>
</div>


{% endblock %}