{% extends 'master.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="content">
    <h2 class="content-title">Dashboard</h2>
    <p class="content-subtitle">Overview</p>
    <div class="card-group">
        <div class="card">
            <h3>100</h3>
            <p>Products</p>
        </div>
        <div class="card">
            <h3>1023</h3>
            <p>Sales</p>
        </div>
        <div class="card">
            <h3>30</h3>
            <p>Products</p>
        </div>
        <div class="card">
            <h3>9</h3>
            <p>Shops</p>
        </div>
    </div>
    <p class="content-subtitle">Overview Graph</p>
</div>
{% endblock %}