{% extends 'master.html' %} {% block css %} {% load static %}
<link rel="stylesheet" href="{% static 'add_events.css' %}" />
{% endblock %} {% block title %} Add Product {% endblock %} {% block content %}

<div class="content">
  <form action="" class="add-events-form">
    <label for="name">Event Name</label>
    <input type="text" name="name" class="url-field" placeholder="Event Name" />
    <label for="start">Start DateTime</label>
    <input type="datetime-local" name="start" class="url-field" placeholder="Start DateTime">
    <label for="end">End DateTime</label>
    <input type="datetime-local" name="end" class="url-field" placeholder="End DateTime">
    <button id="add-button">Add Event</button>
  </form>
</div>

{% endblock %}
